[submodule "DaisySP"]
	path = DaisySP
	url = https://github.com/electro-smith/DaisySP
[submodule "libdaisy"]
	path = libdaisy
	url = https://github.com/electro-smith/libdaisy
[submodule "mi-custom"]
	path = mi-custom
	url = https://github.com/musicdevghost/mi-custom